/* @media (max-width: 768px) {
  .hero-bg {
    background-image: url("../../../assets/hero-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    width: 100%;
  }
} */

@media (min-width: 1024px) {
  .hero-bg {
    background-image: url("../../../assets/hero-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    width: 100%;
  }

  .object {
    animation: MoveUpDown 4s linear infinite;
    z-index: 0;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
  }

  .object1 {
    animation: MoveRightLeft 5s linear infinite;
  }

  @keyframes MoveRightLeft {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-80px);
    }
  }
}
